:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

/*++++++++++ Common ++++++++++  */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo > span {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*++++++++++ Header ++++++++++  */

.header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-list {
  display: flex;
  align-items: center;
}

.site-nav .logo {
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.site-nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link.current::before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list-submenu:first-child {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact-list {
  margin-right: 10px;

  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .icon-contact-list,
.contact-link:focus .icon-contact-list {
  fill: var(--accent-color);
}

.site-nav .site-nav-link.current {
  color: var(--accent-color);
}

/*++++++++++ Hero ++++++++++  */

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-button {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}

/*++++++++++ Advantages ++++++++++  */

.advantages-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.icon-advantages-container {
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/*++++++++++ Works ++++++++++*/

.works {
  padding-bottom: 94px;
}

.woks-title-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works-link {
  position: relative;
}

.text-works-box {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.text-works {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

/*++++++++++ Our team ++++++++++*/

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-card-name {
  padding-top: 30px;
  padding-bottom: 30px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.team-social-links {
  margin-right: 32px;
  margin-left: 32px;
}

.social-links-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links-item {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-links {
  fill: var(--main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item:hover {
  background-color: var(--accent-color);
}

.social-links-item:hover .icon-social-links {
  fill: #ffffff;
}

.social-links-list-team {
  display: block;
}

.social-links-list-team:focus .social-links-item {
  background-color: var(--accent-color);
}

.social-links-list-team:focus .icon-social-links {
  fill: #ffffff;
}

/*++++++++++ Clients ++++++++++*/

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .icon-clients,
.clients-list-link:focus .icon-clients {
  fill: var(--accent-color);
}

.clients-box:hover,
.clients-box:focus {
  border: 1px solid var(--accent-color);
}

/*++++++++++ Footer ++++++++++  */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-adress {
  display: block;
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact {
  display: block;
  margin-right: 70px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-links-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-links-item {
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links-list-total:not(:last-child) {
  margin-right: 10px;
}

.footer .icon-social-links {
  fill: #ffffff;
}

.footer-social-links-item:hover {
  background-color: var(--accent-color);
}

.footer-social-link {
  display: block;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus {
  background-color: var(--accent-color);
}

/*++++++++++ Backdrop ++++++++++  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:focus .close-modal-icon,
.close-modal:hover .close-modal-icon {
  fill: var(--accent-color);
}

/*++++++++++ Modal window ++++++++++  */

.modal-form {
  display: flex;
  flex-direction: column;
}

.field:not(:last-child) {
  margin-bottom: 10px;
}

.field:last-child {
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.textarea {
  height: 120px;
  padding: 16px 12px;
  resize: none;
}

.textarea::placeholder {
  content: " ";
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.modal-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.icon-modal-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-modal-input,
.modal-input:hover + .icon-modal-input {
  fill: var(--accent-color);
}

.name-input {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.667;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form-text {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-form-policy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--secondary-color);
  margin-right: 8px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-color: var(--accent-color);
  background-image: url("../images/modal-window/checbox-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: var(--accent-color);
  border-radius: 2px;
}

.checkbox-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.checkbox-link {
  text-decoration: underline;
}
